body
{
    font-family: 'Poppins', sans-serif;
    //background: linear-gradient(45deg, rgb(8, 179, 191), transparent);
    background: black;
    margin: 0;
    padding: 0;
}

#tsparticles {
    position: fixed; /* Fixes the particles to the background */
    top: 0; /* Aligns to the top */
    left: 0; /* Aligns to the left */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    z-index: -1; /* Sends it behind all other content */
    overflow: hidden; /* Hides overflow */
}


html
{
    scroll-behavior: smooth;
}
header
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}
header h1
{
    font-size: 2em;
    margin: 0;
}
.container
{ 
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img
{
    max-width: 100%;
    height: 400px;
}

/* New CSS for the top menu */
.top-menu
{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-top: 0;
}

.top-menu ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display list items horizontally */
}

.top-menu li
{
    margin-right: 20px;
}

.top-menu li:last-child
{
    margin-right: 0; /* Remove margin from the last item */
}

.top-menu a
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
}

.top-menu a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(66,245,245);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.top-menu a:hover::after
{
    width: 100%;
}

.tab-titles
{
    display:flex;
    margin: 20px 0 40px;
}

.tab-links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after
{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(66,245,245);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after
{
    width: 50%;
}

.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span
{
    color: rgb(10,145,145);
    font-size: 14px;
}

.tab-contents
{
    display: none;
}

.tab-contents.active-tab
{
    display: block;
}

h1, h2, h3, p, li, span
{
    color:white;
}

#portfolio
{
    padding: 50px 0;
}

.work-list
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

img
{
    max-width: 100%;
}

.work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
 
.work img
{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

/* Blue Shadow */

.layer
{
    width: 70%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(66,245,245));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s ;
}

/* Media query for small screens */
@media (max-width: 600px) {
    .layer {
        transform: translateX(-20px); /* Shift the layer to the left by 50px */
    }
}

.layer h3
{
    font-weight: 500;
    margin-bottom: 20px;
}

/* Link Icon */

.layer a
{
    margin-top: 20px;
    color: rgb(66,245,245);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img
{
    transform: scale(1.0);
}

.work:hover .layer
{
    height: 100%;
}

.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 0px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 5px;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}